@charset "UTF-8";

/* Header styles */
header {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  position: fixed;
  background-color: transparent;
  font-family: 'Arial', sans-serif;
  z-index: 2;
  width: 100%;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease-in-out;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.website-title {
  flex: 1;
  display: flex;
  align-items: left;
}

.website-title a {
  font-family: 'Raleway', sans-serif;
  color: #000; /* Change this to any color you want */
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  text-align: left;
  background-color: #f60; /* Add background color */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border-radius */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.website-title a:hover {
  /* Add hover effects */
  transform: scale(1.1); /* Increase size on hover */
  background-color: #f90; /* Change background color on hover */
  /* Add any other creative hover styles */
}

.nav-left ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

.nav-left ul li {
  display: inline;
  margin-right: 40px;
}

.nav-left ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-left ul li a:hover {
  color: #ccc;
}

.nav-icons a {
  display: inline-block;
  margin-left: 10px;
}

.nav-icons img {
  height: 20px;
  width: auto;
}

.nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-right ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 40px; /* Add space between elements */
  justify-content: space-between;
}

.nav-right ul li a img {
  width: 24px;
  height: 24px;
}

/* Dropdown menu style */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown container (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Align the dropdown menu to the right */
  background-color: rgba(255, 255, 255, 0.8); /*semi - transparent white background */
  font-family: 'Roboto', sans-serif;
  color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px; /* Add padding to dropdown menu */
  animation: fadeIn 0.3s ease-in-out; /* Fade in animation */
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change hover color for 'Products' link */
.nav-right .dropdown:first-child:hover .dropbtn {
  color: #f60; /* Change to a color of your choice */
}

/* Change font for 'Products' link */
.nav-right .dropdown:first-child .dropbtn {
  font-size: 1.5em; /* font size */
  font-family: 'Arial', sans-serif; /* font of your choice */
  color: #000; /* color of your choice */
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #fff;
  background-color: #f60; /* Change to a color of your choice */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* logo*/

.logo {
  flex: 1;
  text-align: center;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: auto;
  transition: transform 0.3s ease;
  border: none;
}

.logo img:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Increase size on hover */
  /* Add any other creative hover styles */
}

/* Add a dropdown icon */
.nav-right .dropdown:first-child .dropbtn:after {
  content: ''; /* no arrow */
  font-size: 12px;
  margin-left: 5px;
}

/* Styles for dropdown2 */
.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown2 .dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 1.5em;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  padding: 0;
  margin-right: 20px;
}

/* Styles for dropdown-content2 */
.dropdown-content2 {
  display: none;
  position: fixed; /* Changed from absolute to fixed */
  top: 0; /* Set to 0 to start from the top */
  right: 0; /* Set to 0 to start from the right */
  width: 25%; /* width of the dropdown content 2 */
  height: 100%; /* Set to 100% to take full height */
  background-color: #FFDAB9; 
  font-family: 'Roboto', sans-serif;
  color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 20px; 
  animation: fadeIn 0.3s ease-in-out;
  border: none; 
  overflow: hidden; /* Add this to enable scrolling if content overflows */
  align-items: center; /* Align items to the center */
  max-height: 0;
  transition: max-height 0.3s ease-out;

}

.dropdown-content2 a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd; /* Added border between links for a more defined look */
}

.dropdown-content2 a:last-child {
  border-bottom: none; /* Remove border for the last link */
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdown2 .dropbtn img {
  width: 24px;
  height: 24px;
  border:none;
}

.btn-only{
  text-indent: -9999px;
  overflow: hidden;
}

.dropdown2:hover .dropdown-content2 {
  max-height: 100vh; /* Adjust this value according to your needs */
}

/* Hover Effects on Links */
.dropdown-content2-links a:hover {
  background-color: #f60; /* Or any color you prefer */
}

/* Styles for dropdown2 menu header */
.dropdown-content2-header {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px; /* Add some margin below the header */
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap; /* Prevent items from wrapping */
}

.dropdown-content2-header .logo {
  display: inline-block;
  flex-shrink: 0; /* Prevent logo from shrinking */
  width: 30%; /* Set width of logo */
  position: relative; /* Added to keep logo in place when scrolling */
  align-self: flex-start; /* Align logo to the left */
  border: none;
  margin: 0;
  padding-right: 10px;
}

.dropdown-content2-header .logo a {
  display: inline-block;
  text-decoration: none; /* Remove underline from the anchor tag */
}

.dropdown-content2-header .logo a:hover {
  background-color: transparent; /* Remove background color change on hover */
}

.dropdown-content2-header .logo img {
  max-width: 100%; /* Make sure the logo image scales nicely */
  height: auto;
  top: 20px;
  width: 30%;
  margin-left: 10px;
}

.dropdown-content2-header .search {
  flex-grow: 1; /* Allow the search bar to take remaining space */
  margin-left: 20px; /* Add some space between the logo and search bar */
  width: 50%; /* Set width of search bar */
  display: flex;
  align-items: center;
}

.dropdown-content2-header .search input {
  width: 100%; /* Make the input take full width of the search bar */
  padding: 10px; /* Add some padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some border radius */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add some shadow */
  font-size: 14px;
  transition: all 0.3s ease-out;
}

.dropdown-content2-header .search i {
  margin-right: 10px; /* Add some space between the search icon and the search bar */
}

.dropdown-content2-header .search input:focus {
  border-color: #333; /* Or any color you prefer */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Or any shadow effect you prefer */
}


html {
  font-size: 100%;
}
body {
  color: #333;
  font-size: 0.75rem;
  font-family: 'Raleway', sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.site-title {
  width: 109px;
  line-height: 1px;
  margin: 0 auto 36px auto;
}
.site-title a {
  display: block;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
header {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  position: absolute;
  background-color: transparent;
  color: #fff;
  font-family: 'Arial', sans-serif;
  z-index: 2;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.website-title {
  flex: 1;
  display: flex;
  align-items: left;
}


.website-title a {
  font-family: 'Raleway', sans-serif;
  color: #000; /* Change this to any color you want */
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  text-align: left;
  background-color: #f60; /* Add background color */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border-radius */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.website-title a:hover {
  /* Add hover effects */
  transform: scale(1.1); /* Increase size on hover */
  background-color: #f90; /* Change background color on hover */
  /* Add any other creative hover styles */
}

.nav-left ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

.nav-left ul li {
  display: inline;
  margin-right: 40px;
}

.nav-left ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-left ul li a:hover {
  color: #ccc;
}

.nav-icons a {
  display: inline-block;
  margin-left: 10px;
}

.nav-icons img {
  height: 20px;
  width: auto;
}

.nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-right ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 20px; /* Add space between elements */
}

.nav-right ul li a img {
  width: 24px;
  height: 24px;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown container (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Align the dropdown menu to the right */
  background-color: rgba(255, 255, 255, 0.8); /*semi - transparent white background */
  font-family: 'Roboto', sans-serif;
  color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px; /* Add padding to dropdown menu */
  animation: fadeIn 0.3s ease-in-out; /* Fade in animation */
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change hover color for 'Products' link */
.nav-right .dropdown:first-child:hover .dropbtn {
  color: #f60; /* Change to a color of your choice */
}

/* Change font for 'Products' link */
.nav-right .dropdown:first-child .dropbtn {
  font-size: 1.5em; /* font size */
  font-family: 'Arial', sans-serif; /* font of your choice */
  color: #000; /* color of your choice */
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #fff;
  background-color: #f60; /* Change to a color of your choice */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown .dropbtn img {
  width: 24px;
  height: 24px;
}

.btn-only{
  text-indent: -9999px;
  overflow: hidden;
}

/* logo*/

.logo {
  flex: 1;
  text-align: center;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Increase size on hover */
  /* Add any other creative hover styles */
}

/* Add a dropdown icon */
.nav-right .dropdown:first-child .dropbtn:after {
  content: ''; /* no arrow */
  font-size: 12px;
  margin-left: 5px;
}

/*-------------------------------------------
商品ページ
-------------------------------------------*/
.price {
  font-size: 2rem; /* Adjust the desired font size */
}

#item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

/*
flex-shrink: 0;
画像が縮小されるのを防ぐ
*/
#item .item-image {
  max-width: 400px;
  flex-shrink: 0;
  margin-right: 60px;
}

#item .item-info {
  flex: 1;
}

#item .item-info p {
  margin-bottom: 30px;
  line-height: 1.9;
}

#item .item-info .item-title {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#item .item-info .order-table {
  width: 100%;
  margin-bottom: 20px;
}

#item .item-info .order-table .color,
#item .item-info .order-table .size {
  width: 20%;
}

#item .item-info .order-table .quantity {
  width: 60%;
}

#item .item-info .order-table td {
  border-top: solid 1px #c3c3c3;
}

#item .item-info .order-table th,
#item .item-info .order-table td {
  font-weight: normal;
  padding: 10px;
  border-right: solid 1px #c3c3c3;
  text-align: center;
}

#item .item-info .order-table th:last-child,
#item .item-info .order-table td:last-child {
  border-right: none;
}

#item .item-info .order-table select {
  width: 100%;
  border: solid 1px #c3c3c3;
  padding: 10px;
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
}

#item .item-info .cart-btn {
  width: 100%;
  background-color: #4B4B4B;
  color: #fff;
  display: block;
  line-height: 1;
  padding: 18px 0;
  margin-bottom: 30px;
  text-align: center;
}

#item {
  margin-top: 3cm;
}

/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
  padding: 10px 0;
}

#footer .copyright {
  font-size: 0.625rem;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/

@media screen and (max-width: 896px) {

  .site-title {
    margin-bottom: 26px;
  }

  /* ... Existing CSS rules for smaller screens ... */

  /* CSS for select elements */
  #color,
  #size,
  #quantity {
    width: 100%;
    border: solid 1px #c3c3c3;
    padding: 10px;
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
  }

}
