/* Product styles */

.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.product {
  flex: 1 0 21%; /* grow | shrink | basis */
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.product-image {
  width: 100%;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-info {
  text-align: center;
}

.product-info h1, .product-info h2 {
  margin: 0;
}

.product-info h2 {
  color: #333;
  font-size: 1.2em;
}

.product-info p {
  margin: 10px 0;
  font-size: 1.1em;
}

.product-info input[type="button"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-info input[type="button"]:hover {
  background-color: #444;
}

@media (min-width: 769px) and (max-width: 1024px) {
.nav-left ul li {
    margin-right: 35px;
}

.website-title a {
    font-size: 2em;
    padding: 10px 20px;
}

.nav-right ul li a img {
    width: 24px;
    height: 24px;
}

.dropdown-content {
    padding: 10px;
    min-width: 160px;
}
}
@media (max-width: 480px) {
.website-title a {
  font-size: 1.5em;
  padding: 5px 10px;
}

.nav-left ul li {
  margin-right: 20px;
}

.nav-right ul li a img {
  width: 20px;
  height: 20px;
}

.dropdown-content {
  padding: 5px;
  min-width: 120px;
}

.container {
  margin-top: calc(80px + 1cm); 
}
}


@media (min-width: 481px) and (max-width: 768px) {
.website-title a {
  font-size: 1.8em;
  padding: 8px 15px;
}

.nav-left ul li {
  margin-right: 30px;
}

.nav-right ul li a img {
  width: 22px;
  height: 22px;
}

.dropdown-content {
  padding: 8px;
  min-width: 140px;
}
}


@media (min-width: 769px) and (max-width: 1024px) {
.website-title a {
  font-size: 2em;
  padding: 10px 20px;
}

.nav-left ul li {
  margin-right: 35px;
}

.nav-right ul li a img {
  width: 24px;
  height: 24px;
}

.dropdown-content {
  padding: 10px;
  min-width: 160px;
}
}