body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  background-color: transparent;
  color: #fff;
  font-family: 'Arial', sans-serif;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  margin-top: calc(80px + 2cm); /* Adjust the margin to leave space for the header */
}


.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.website-title {
  flex: 1;
  display: flex;
  align-items: left;
}


.website-title a {
  font-family: 'Raleway', sans-serif;
  color: #000; /* Change this to any color you want */
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  text-align: left;
  background-color: #f60; /* Add background color */
  padding: 10px 20px; /* Add padding */
  border-radius: 5px; /* Add border-radius */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.website-title a:hover {
  /* Add hover effects */
  transform: scale(1.1); /* Increase size on hover */
  background-color: #f90; /* Change background color on hover */
  /* Add any other creative hover styles */
}

.nav-left ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

.nav-left ul li {
  display: inline;
  margin-right: 40px;
}

.nav-left ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-left ul li a:hover {
  color: #ccc;
}

.nav-icons a {
  display: inline-block;
  margin-left: 10px;
}

.nav-icons img {
  height: 20px;
  width: auto;
}

.nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-right ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 20px; /* Add space between elements */
}

.nav-right ul li a img {
  width: 24px;
  height: 24px;
}

/* Dropdown menu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown container (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Align the dropdown menu to the right */
  background-color: rgba(255, 255, 255, 0.8); /*semi - transparent white background */
  font-family: 'Roboto', sans-serif;
  color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px; /* Add padding to dropdown menu */
  animation: fadeIn 0.3s ease-in-out; /* Fade in animation */
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change hover color for 'Products' link */
.nav-right .dropdown:first-child:hover .dropbtn {
  color: #f60; /* Change to a color of your choice */
}

/* Change font for 'Products' link */
.nav-right .dropdown:first-child .dropbtn {
  font-size: 1.5em; /* font size */
  font-family: 'Arial', sans-serif; /* font of your choice */
  color: #000; /* color of your choice */
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #fff;
  background-color: #f60; /* Change to a color of your choice */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown .dropbtn img {
  width: 24px;
  height: 24px;
}

.btn-only{
  text-indent: -9999px;
  overflow: hidden;
}

/* logo*/

.logo {
  flex: 1;
  text-align: center;
}

.logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: translate(-50%, -50%) scale(1.1); /* Increase size on hover */
  /* Add any other creative hover styles */
}

/* Add a dropdown icon */
.nav-right .dropdown:first-child .dropbtn:after {
  content: ''; /* no arrow */
  font-size: 12px;
  margin-left: 5px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.product {
  flex: 1 0 21%; /* grow | shrink | basis */
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.product-image {
  width: 100%;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-info {
  text-align: center;
}

.product-info h1, .product-info h2 {
  margin: 0;
}

.product-info h2 {
  color: #333;
  font-size: 1.2em;
}

.product-info p {
  margin: 10px 0;
  font-size: 1.1em;
}

.product-info input[type="button"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-info input[type="button"]:hover {
  background-color: #444;
}

/* Footer styles */
footer {
  background-color: #fff;
  color: #333;
  padding: var(--common-padding);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: relative;
}

footer .footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

footer img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin-right: 20px;
}

footer nav ul li a {
  color: #333;
  text-decoration: none;
}

footer nav ul li a:hover {
  color: #797776;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}


/* social media icons */

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* social media icons */

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 769px) and (max-width: 1024px) {
.nav-left ul li {
    margin-right: 35px;
}

.website-title a {
    font-size: 2em;
    padding: 10px 20px;
}

.nav-right ul li a img {
    width: 24px;
    height: 24px;
}

.dropdown-content {
    padding: 10px;
    min-width: 160px;
}
}
@media (max-width: 480px) {
.website-title a {
  font-size: 1.5em;
  padding: 5px 10px;
}

.nav-left ul li {
  margin-right: 20px;
}

.nav-right ul li a img {
  width: 20px;
  height: 20px;
}

.dropdown-content {
  padding: 5px;
  min-width: 120px;
}

.container {
  margin-top: calc(80px + 1cm); 
}
}


@media (min-width: 481px) and (max-width: 768px) {
.website-title a {
  font-size: 1.8em;
  padding: 8px 15px;
}

.nav-left ul li {
  margin-right: 30px;
}

.nav-right ul li a img {
  width: 22px;
  height: 22px;
}

.dropdown-content {
  padding: 8px;
  min-width: 140px;
}
}


@media (min-width: 769px) and (max-width: 1024px) {
.website-title a {
  font-size: 2em;
  padding: 10px 20px;
}

.nav-left ul li {
  margin-right: 35px;
}

.nav-right ul li a img {
  width: 24px;
  height: 24px;
}

.dropdown-content {
  padding: 10px;
  min-width: 160px;
}
}