.page-title-p {
    font-size: 2.5em;
    text-align: center;
    color: #333; /* You can change this to any color from the combinations above */
    margin-bottom: 20px;
    padding: 10px;
    animation: colorChange 10s infinite;
}

@keyframes colorChange {
    0% {color: #333;}
    20% {color: #800080;} /* Purple */
    40% {color: #008000;} /* Green */
    60% {color: #FFA500;} /* Orange */
    80% {color: #FFC0CB;} /* Pink */
    100% {color: #333;}
}

/* Product Styles*/

.product-container {
    display: flex;
    flex-direction: column; /* Change from row to column for vertical layout */
    align-items: center; /* Center the products */
    margin: 20px;
    gap: 20px; /* Add space between products */
}

.product {
    width: 80%; /* Adjust as needed */
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    border-radius: 10px; /* Add border radius for a softer look */
}

.product:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.product-image {
    width: 100%;
    overflow: hidden; /* Add this to keep the image within the product box */
    border-radius: 10px 10px 0 0; /* Round the top corners to match the product box */
}

.product-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Add transition for a smooth zoom effect */
}

.product-image img:hover {
    transform: scale(1.1); /* Zoom in on hover */
}

.product-info {
    text-align: center;
    padding: 10px; /* Add some padding */
}

.product-info h1 {
    margin: 10px 0; /* Add some margin */
    color: #333; /* Change the color */
    font-size: 1.5em; /* Increase the font size */
}

.product-info h2 {
    color: #777; /* Change the color */
    font-size: 1.2em;
}

.product-info p {
    margin: 10px 0;
    font-size: 1.1em;
    color: #555; /* Change the color */
}

.product-info input[type="button"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; /* Add border radius */
    font-size: 1.1em; /* Increase the font size */
}

.product-info input[type="button"]:hover {
    background-color: #444;
}

